################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/LegionStats/v16
/LegionStats/obj/Debug
/packages
